<app-menu></app-menu>
<div class="container">
    <h1> Bienvenido a EduQuestion</h1>
    <div class="container my-5">
        <div class="bg-body-tertiary p-5 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Registrate </h1>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">Primaria </option>
                <option value="2">Secundaria</option>
                <option value="3">Universitario</option>
              </select>

              <a class="btn btn-primary" href="../components/navbar/#offcanvas" role="button">Learn more about offcanvas navbars &raquo;</a>
            
        </div>
        </div>
      </div>
</div>
